.partner-wrapper {
    max-width: 900px;
    margin:0 auto;
}
header {
    padding: 2rem;
    background: #000;
    margin: 0 auto;
}

.header-box {
    display: flex;
    position: relative;
    width: 100%;
    height: 300px;
    padding:0;
    margin: 0;
    background: url(../image/cover-photo.jpg) no-repeat;
    background-size: 100% 100%;
    color: rgba(255, 255, 255, 0.8);
}

.msg-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px !important;
    padding: 0.5rem 1rem !important;
    justify-content: center !important;
    color: rgba(255, 255, 255, 0.8) !important;
}
.msg-btn:hover,.msg-btn:focus, .msg-btn:active {
    background: rgba(255, 255, 255, 1) !important;
    color:rgba(0, 0, 0, 1) !important;
}


.icn {
    /*vertical , horizontal center align*/
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    margin-right: 1rem;
}

.name-box {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    line-height: 90%;
    text-align: center;
}

.name-box .--top {
    font-size: 1.5em;
    font-weight: 700;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: 125%;
}

.name-box .--below {
    font-size: 1em;
    font-weight: normal;
    text-transform: capitalize;
    font-style: italic;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 1px;
}

.block-btn {
    position: absolute;
    border: 0 !important;
    bottom: 0;
    right: 0;
    width: auto !important;
    padding: 0.5rem 1rem !important;
    padding-right: 0 !important;
    color: rgba(255, 255, 255, 0.8) !important;
}
.block-btn:hover,.block-btn:active,.block-btn:focus {
    text-decoration:none;
    color: rgba(255, 255, 255, 0.6) !important;
    background: none !important;

}

.icon-block {
    color: rgba(255, 255, 255, 0.5)
}

.id-box {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
}

.icon-id {
    font-size: 45px;
    color: rgba(255, 255, 255, 0.5)
}

.status {
    display: inline-flex;
    align-items: center;
    justify-content: left;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: 1px;
}

.status .icn {
    font-size: 1em;
}

.online {
    color: #77BF02 !important;
}

.profile-wrapper {
    background: url('../image/lady1.jpeg');
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 250px;
    display: flex;
    background-position: center center;
    background-size: cover;
    z-index: 2;
}

.profile-wrapper::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0.4));
    opacity: 0.4;
    /*overlay setting*/
}

.profile-pic {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.profile-pic .icn-heart {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 3em;
    margin-right: 20px;
}

.content-box {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    padding: 2rem;
    margin: 0;
    background: #EFEFEF;
    color: rgba(0, 0, 0, 1);
}

section {
    margin: 1rem 0;
    display: block;
    width: 100%;
    height: auto;
}
#av-date,
#info {
    margin-top: 3rem !important;
}

/* carousel */

.carousel-wrapper {
    position: relative;
    display: flex;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0.5em;
    margin-top: 10%;
    clear: both;
}

#carousel-custom {
    margin: 0;
    width: 100%;
}

.carousel-icon {
    font-size: 35px;
    cursor: pointer;
}

.carousel-item img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    overflow: hidden;
    cursor: pointer;
}

#carousel-custom .carousel-indicators {
    margin: 0;
    overflow: hidden;
    position: static;
    text-align: left;
    white-space: nowrap;
    width: 100%;
}

#carousel-custom .carousel-indicators li {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto !important;
    margin: 0 !important;
    width: 100%;
    padding: 6px 3px 4px 3px;
}

#carousel-custom .carousel-indicators li img {
    display: block;
    opacity: 0.7;
    width: 100%;
    height: 7em;
    object-fit: cover;
    overflow: hidden;
}

#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}

#carousel-custom .carousel-outer {
    position: relative;
}

.modal-dialog {
    max-width: 700px;
    min-width: 320px;
    margin: 2.5rem auto !important;
    padding: 1rem !important;
}

.modal-content {
    -webkit-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 7px -2px rgba(0, 0, 0, 0.4);
}

.modal-header {
    padding: 1.5rem;
    border: 0;
    ;
}

.close {
    position: absolute;
    right: 20px;
    top: 18px;
    text-shadow: none !important;
    cursor: pointer;
}

button.close {
    outline: none !important;
}

.page-title {
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    line-height: 100%;
}

.seperator {
    display: block;
    width: 100%;
    border-top: 1.25px solid #000;
    margin-bottom: 1rem;
}

.page-date {
    font-size: 1.25em;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #838383;
    line-height: 100%;
}

.av-date-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.date-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    width: 67px;
    height: 67px;
    color: #fff;
    margin: 5px;
}

.date-circle--date {
    font-size: 1.75em;
    font-weight: 700;
    line-height: 90%;
}

.date-circle--day {
    font-size: 0.75em;
    font-weight: 400;
    text-transform: uppercase;
}

.green {
    background: #009D3B;
}

.gray {
    background: #767676;
}

.info-item {
    display: flex;
    text-transform: capitalize;
    margin:0;
    line-height:2em;
    margin-bottom: 0.3rem;
    
}

.info-title {
    width: 50%;
    display: flex;
    align-items: center;
}

.info-title .icn {
    font-size: 15px !important;
}

.info-title .title {
    font-weight: 700;
}

.info-value {
    width: 50%;
}

.vline {
    border-left: 1.25px solid #000;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.info-box {
    padding: 1rem 3rem;
    padding-bottom: 0.3rem;
    margin-bottom:0.5rem;
}

.info-row {
    padding: 0 3rem;
    text-transform: capitalize;
    margin-bottom: 0.3rem;
}

ul.data-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: start;
    align-items: center;
    list-style: none;
    margin-bottom: 0;
}


li.data {
    display:table;
    height:auto;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.7);
    padding: 4px 10px;
    border-radius: 35px;
    font-size: 12px;
    margin-right: 1rem;
    margin-bottom:0.5rem;
    color: rgba(0, 0, 0, 0.7);
    letter-spacing: 1px;
    line-height: 1em;
}

.quote-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background: #fff;
    text-align: center;
}

.quote-box .info-title {
    width: 100% !important;
    text-align: center;
    font-size: 1.5em !important;
    justify-content: center;
    margin: 1rem auto;
}

.quote-box .info-title .icn {
    font-size: 1.5em !important;
    color: rgba(0, 0, 0, 0.5);
}

blockquote {
    margin: auto;
    padding: 1rem;
    position: relative;
    width: 80%;
}

q {
    color: rgba(0, 0, 0, 0.9);
    display: block;
    font-size: 1em;
    font-style: italic;
    line-height: 120%;
    letter-spacing: 1px;
    quotes: "“" "”";
}

q::before {
    color: #7B7B7B;
    content: open-quote;
    font-family: 'Archivo', sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
    line-height: 50%;
    margin-right:8px;

}

q::after {
    content: close-quote;
    color: #7B7B7B;
    font-family: 'Archivo', sans-serif;
    font-size: 1.5em;
    font-style: normal;
    font-weight: bold;
    line-height: 90%;
    margin-left:8px;
}
.translate-btn a {
    display:flex;
    position: absolute;;
    top:10px;
    right: 10px;
    padding:2px 5px;
    font-size: 10px;
    border-radius: 35px;
    border:1px solid #707070;
    color:#707070;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .3s ease;
}
.translate-btn a:active,
.translate-btn a:focus,
.translate-btn a:hover {
    background: #707070;
    color:#fff;
    text-decoration: none;
}
.foot {
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:1.5rem;
    background:#D0D0D0;
}
a.solid-button {
    width:50%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    letter-spacing: 1px;
    color:rgba(255, 255, 255, 0.8);
    padding:1.5rem 2rem;
    transition: all .3s ease;
}
a.solid-button:hover,
a.solid-button:active,
a.solid-button:focus {
    background:rgba(0, 0, 0, 0.7);
    color:#fff;
    text-decoration: none;

}


/* SP 414 - 480 SP-Landscape */

@media all and (max-width: 480px) {

    .wrapper {padding:0 !important;}
    header {padding:15px !important;}
    .content-box {padding:15px;}
    .name-box {top:60px !important;}
    .name-box .--top {font-size: 1.2em;line-height: 125%;}
    .profile-wrapper {width: 200px;height: 200px;}
    .header-box {height:200px !important;}
    .carousel-item img {height:250px !important;}
    .carousel-wrapper {margin-top:20% !important; padding:0 !important;}
    .info-box, .info-row {padding:0 !important;}
    .data {
        max-height:20px !important;
        font-size: 10px;
        margin-left: 5px !important;
    }
    .date-circle { width: 55px;height: 55px; }
    .date-circle--date {font-size: 1.5em;}
    .date-circle--day {font-size: 0.5em;}
    blockquote {width:100%;}
    .foot {
        background:rgba(208, 208, 208, 0.8);
        position: fixed;
        left: 0;
        bottom: 0;}
    a.solid-button {width:300px;font-size: 1.25;padding:1rem 2rem;}
    .spacer {width:100%; height: 8em;}
}

/* BS break point to md */
@media all and (max-width: 767px) {
    .header-box {height: 250px}
    .msg-btn {display:none !important;}
    .block-btn{display:none !important;}
    .status {display:none !important;}
    .msg-btn-sp {
        position: absolute;
        bottom:0;
        right: 0;
        color: rgba(255, 255, 255, 0.8) !important;
        transition: all .3s ease;
    }
    .msg-btn-sp:hover, .msg-btn-sp:active, .msg-btn-sp:focus {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.7) !important;

    }
    .msg-btn-sp .icn {font-size:2.5em !important;margin-right:0 !important;}
    .icon-id {font-size:3em !important;}
    .name-box {top: 25%;}
    .carousel-indicators {display:none;}
    .av-date-list {justify-content: center;}
    .info-box, .info-row {padding:0 15px;}
    .vline {display:none !important;}
    .info-value {text-align: right;}
    ul.data-list {justify-content: flex-end;}
    .data {
        margin-right: 0 !important;
        margin-left:8px;
    }
    a.solid-button {width:80%;}

}


/* PC */

@media all and (min-width: 768px) {
    .msg-btn-sp {display:none !important;}


}
